

.display {

  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 4em;
  border-bottom: 2px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;

  background-color: #fcfcfc;
  color: #000;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;

  .textodisplay{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
    width: 100%;
    height: 100%;
    font-family: "Arial";
    font-size: 3em;
    text-align: center;
  }
}
