
$color1 : #F2F2F2FF;
$color2 : #FCFCFCFF;

.display {

  display: flex;
  width: 100%;
  height: 4em;
  align-items: center;
  justify-content: right;
  border-bottom: 2px solid $color1;
  border-left: 1px solid $color1;

  background-color: #FCFCFCFF;
  color: black;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;

  .textodisplay{

    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
    font-family: Arial, serif;
    font-size: 3em;
    text-align: center;
  }

  .subtext{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 1%;
    padding-left: 0.7%;
    color: #60606070;
    font-family: Arial, serif;
    font-size: 1em;
    text-align: center;
  }

}
